---
---

@import "{{ site.theme }}";


figure {
    margin-top: -10px;

    figcaption {
        font-style: italic;
        margin-bottom: 5px;
    }
    audio { 
        width: 100%;
    }
}

header {
    h1, p.view { display: none; }

    img { margin-bottom: 10px; }
}

section {
    ul {
        ul { padding-left: 20px; }
    }
}